[submodule "custom_components/view_event"]
	path = custom_components/view_event
	url = https://github.com/constructorfleet/HomeAssistant-Component-ViewEvent.git
[submodule "custom_components/myq2"]
	path = custom_components/myq2
	url = https://github.com/constructorfleet/HomeAssistant-Component-MyQ2.git
