homeassistant:
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_elevation
  unit_system: imperial
  time_zone: !secret home_timezone
  name: Security
  auth_providers:
    - type: trusted_networks
      trusted_networks:
        - 172.19.0.0/16
        - 10.0.12.0/24
      allow_bypass_login: true
    - type: homeassistant

http:

frontend:

config:

view_event:

cover: !include_dir_list covers
camera: !include_dir_list cameras
alarm_control_panel: !include_dir_list alarm_control_panels
