homeassistant:
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_elevation
  unit_system: imperial
  time_zone: !secret home_timezone
  name: Security
  customize: !include customize.yaml
  auth_providers:
    - type: trusted_networks
      trusted_networks:
        - 172.20.0.0/16
        - 10.0.12.0/23
        - 10.0.11.174/32
      allow_bypass_login: true
    - type: homeassistant

view_event: !include view_event.yaml

http:
  base_url: https://security.automation.home.prettybaked.com
  
frontend:

config:

stream:

unifiprotect:
  - host: https://10.0.12.1
    port: 443
    username: !secret unifi_username
    password: !secret unifi_password
    scan_interval: 5

# camera: !include_dir_list cameras
# alarm_control_panel: !include_dir_list alarm_control_panels
# image_processing: !include_dir_list image_processing

mqtt: !include mqtt.yaml 
mqtteventstream: !include eventstream.yaml
